<div class="container" style="margin-top: 20px;">
  <h1 align="center" style="color: brown;"><i>Ajouter Produit</i></h1>
  <form (ngSubmit)="ajouterProduit(f)" #f=ngForm>
    <div class="form-group">
      <label for="nom">Nom de Produit</label>
      <input type="text" class="form-control" id="nom" placeholder="Enter nom de produit" 
      ngModel name="nom"  required #nom="ngModel">
      <span style=color:red *ngIf="!nom.valid && nom.touched">Entrez le nom du produit </span>
    </div>
    <br>
    <div class="form-group">
      <label for="prix">Prix de Produit</label>
      <input type="number" class="form-control"  id="prix" placeholder="Enter prix de produit"
      ngModel name="prix"  required #prix="ngModel">
      <span style=color:red *ngIf="!prix.valid && prix.touched">Entrez le prix du produit </span>
    </div>
    <br>
    <div class="form-group">
      <label for="quantite">Quantite de Produit</label>
      <input type="number" class="form-control"  id="quantite" placeholder="Enter la quantite de produit"
      ngModel name="quantite"  required #quantite="ngModel">
      <span style=color:red *ngIf="!quantite.valid && quantite.touched">Entrez la quantite du produit </span>
    </div>
    <br>
    <button type="submit" [disabled]=!f.valid class="btn btn-success">Submit</button>

  </form>
</div>